<ion-view view-title='<img class="title-image" src="img/logo.PNG"/ >'>
	<div class="bar bar-subheader">
  <h2 class="title">İletişim</h2>
</div>  
<div class="card">
	<ion-icon name="location-sharp"></ion-icon>
  <div class="item item-text-wrap">

  	<h2>
    Yıldız Mahallesi, Spor Caddesi 
Quasar Plaza 1b/28 Şişli/İstanbul
</h2>
  </div>
</div>
<div class="card">
	<ion-icon name="call"></ion-icon>
  <div class="item item-text-wrap">
  	<h2>
    +90 505 765 33 22
          0 212 456 78 89
</h2>
  </div>
</div>
<div class="card">
<ion-icon name="mail"></ion-icon>
  <div class="item item-text-wrap">
  	<h2>
   indo@operics.com.tr
</h2>
  </div>
</div>
</ion-view>
